/* Targets the caption text */
table caption {
  font-size: 1.5em;
  padding: 10px 5px;
}

/*headings and first column */
th, td:nth-child(1) {
  font-size: 1.1em;
  font-weight: 500;
}

/* footer explanation and attribution */
tfoot tr:nth-child(1n+2) {
  font-size: 0.9em;
  font-weight: normal;
  text-align: left;
}

/* Center the contents in all table cells and add padding */
td {
  text-align: center;
  padding: 5px;
}

/* Remove borders from all table elements */
table, th, td {
  border: none;
}

/* Apply a background color to the table heading */
thead {
  background-color: #a7a37e;
}

/* Apply a background color to every other row in the table body */
tbody tr:nth-child(even) {
  background-color: #efecca;
}

/* Apply a background color to every other row in the table footer */
tfoot tr:nth-child(odd) {
  background-color: #efecca;
}

/* Media query for screens 780px or smaller */
@media only screen and (max-width: 780px) {
  /* Change table elements to block-level items for responsive design */
  table, thead, tbody, tfoot, tr, th, td {
    display: block;
  }
  /* Hide headers and totals off-screen */
  thead tr, tfoot tr:nth-of-type(1) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* Style footer text */
  tfoot tr td {
    padding-left: 0%;
    text-align: left;
  }
}

/* Add labels to the left of data displayed */
tbody td:nth-child(1):before {
  content: "CMS";
}

tbody td:nth-child(2):before {
  content: "Usage*";
}

tbody td:nth-child(3):before {
  content: "+/- since Jan";
}

tbody td:nth-child(4):before {
  content: "Market Share*";
}

tbody td:nth-child(5):before {
  content: "+/- since Jan";
}

